body {
  background: #F8F8FF; }

.main-body {
  overflow-x: hidden; }

/*.#main2 {
	width: 100%;
	opacity: 0.6;
	height: 900px;
}*/
#logo-img {
  position: absolute;
  width: 40px;
  height: 40px; }

#logo-text {
  font-size: 55px;
  margin-left: 70px;
  font-family: 'Calligraffitti', cursive;
  font-family: 'Montez', cursive;
  font-family: 'Marck Script', cursive;
  position: relative;
  top: 15px; }

.navbar {
  background-color: rgba(34, 34, 34, 0.6);
  padding: 0;
  margin: 0; }

.tabs {
  margin-top: 7px;
  margin-bottom: 7px; }

@media (max-width: 767px) {
  #logo-img {
    width: 30px;
    height: 30px; }
  #logo-text {
    font-size: 40px;
    position: relative;
    top: 5px;
    margin-left: 40px; } }

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-toggle {
  border-color: #DDD; }

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #A9A9A9; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #A9A9A9; }

.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
          transform: translate3d(0, 0, 0) rotate(0deg); }

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(2) {
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
          transform: translate3d(0, 0, 0) rotate(0deg); }

.navbar-toggle.plus.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
          transform: translate3d(0, 0, 0) rotate(0deg); }

.navbar-toggle.plus .icon-bar:nth-of-type(1) {
  -webkit-transform: translate3d(0px, 6px, 0) rotate(90deg);
          transform: translate3d(0px, 6px, 0) rotate(90deg);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }

.navbar-toggle.plus .icon-bar:nth-of-type(3) {
  -webkit-transform: translate3d(0px, -6px, 0) rotate(-90deg);
          transform: translate3d(0px, -6px, 0) rotate(-90deg);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }

.affix {
  padding: 0px;
  -webkit-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear; }

.affix-top {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: padding 0.5s linear;
  -o-transition: padding 0.5s linear;
  transition: padding 0.5s linear; }

a {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif; }

#read {
  font-size: 60px;
  color: #2F4F4F;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  position: relative;
  letter-spacing: 4px;
  top: 200px; }

#read span {
  font-size: 65px;
  font-weight: bold; }

.info1 {
  background-image: url("main2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 665px;
  width: 100%;
  opacity: 0.7; }

@media (max-width: 970px) {
  #read {
    font-size: 30px; } }

.header {
  padding: 50px 20px;
  text-align: center; }

.header h1 {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  color: #A0522D;
  font-size: 40px;
  font-weight: bold;
  padding: 3px 0;
  display: inline-block; }

.header h1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 4px solid #A0522D;
  border-left-color: transparent;
  border-right-color: transparent; }

@media (max-width: 420px) {
  .header h1 {
    font-size: 2em; } }

.bookholder {
  margin-bottom: 10px;
  border: 2px solid #A0522D;
  width: 350px;
  padding: 7px;
  height: 300px;
  background: #FFF0F5; }

@media (max-width: 420px) {
  .bookholder {
    margin-left: 35px; } }

@media (max-width: 360px) {
  .bookholder {
    margin-left: 10px; } }

@media (max-width: 375px) {
  .bookholder {
    margin-left: 13px; } }

@media (max-width: 1001px) {
  .bookholder {
    margin-left: 20px; } }

@media (width: 1024px) {
  .bookholder {
    margin-left: 90px; } }

@media (min-width: 1025px) {
  .bookholder {
    margin-left: 27px; } }

.books-images {
  width: 133px;
  height: 200px; }

.description h1 {
  padding: 0;
  font-size: 16px;
  margin-left: 30px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #A0522D; }

.bookholder:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; }

.about {
  margin-left: 30px; }

.about, .read {
  margin-top: 10px;
  font-family: 'PT Sans', sans-serif;
  width: 60px;
  padding: 3px;
  font-weight: bold;
  background: rgba(160, 82, 45, 0.6); }

.about-margin, .read-margin {
  margin-top: 30px; }

.about:hover, .read:hover {
  color: white; }

.modal-title {
  font-size: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  color: #A0522D;
  letter-spacing: 2px; }

.modal-body {
  font-size: 19px;
  font-family: 'PT Sans', sans-serif;
  color: white;
  background: #A0522D; }

.dropdown-menu {
  min-width: 200px; }

.dropdown-menu.columns-2 {
  min-width: 400px; }

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300; }

.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal; }

.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #999; }

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden; } }

.genres {
  font-size: 23px; }

hr.style18 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  margin-top: -5px; }

.online-text {
  background-color: rgba(34, 34, 34, 0.8);
}

.read-online {
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: white; }

.read-online span {
  font-family: 'Calligraffitti', cursive;
  font-family: 'Montez', cursive;
  font-family: 'Marck Script', cursive;
  font-size: 40px;
  margin-left: 7px;
  font-weight: normal; }

.bliss-text {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  color: white; }

@media (max-width: 970px) {
  #read {
    font-size: 30px; } }

.copyright {
  font-size: 18px;
  color: white;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif; }

.copyright span {
  font-size: 15px; }

.blog-body, .contacts-body {
  background: #F8F8FF; }

.quotes-container {
  height: 300px;
  margin-top: 190px; }

#quotes-header {
  font-size: 50px;
  margin-top: 10px;
  font-weight: bold;
  color: #DC143C;
  font-family: 'Calligraffitti', cursive;
  font-family: 'Montez', cursive;
  font-family: 'Marck Script', cursive;
  margin-right: 10px;
  opacity: 0.7; }

.images {
  width: 260px;
  height: 253px;
  border-radius: 200px; }

.quotes {
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold; }

#quote1 {
  margin-top: 65px; }

#quote2 {
  margin-top: 35px; }

#quote3 {
  margin-top: 35px; }

.quotes footer {
  font-size: 18px;
  font-style: italic;
  margin-left: 5px; }

.articles {
  padding: 0;
  width: 900px;
  margin-top: 50px;
  border: 4px solid #FF7F50; }

@media (max-width: 1125px) {
  #quotes-header {
    font-size: 35px; }
  .images {
    width: 240px;
    height: 233px; }
  .quotes {
    font-size: 25px; }
  #quote1 {
    margin-top: 60px; }
  #quote2 {
    margin-top: 10px; }
  #quote3 {
    margin-top: 20px; } }

@media (max-width: 375px) {
  .images {
    margin-left: 50px; } }

@media (max-width: 992px) {
  .articles {
    width: 800px; } }

@media (max-width: 870px) {
  .articles {
    width: 750px; } }

@media (max-width: 775px) {
  .articles {
    width: 600px; } }

@media (max-width: 620px) {
  .articles {
    width: 500px; } }

@media (max-width: 520px) {
  .articles {
    width: 450px; } }

@media (max-width: 470px) {
  .articles {
    width: 350px;
    margin-left: 5px; } }

@media (width: 375px) {
  .articles {
    margin-left: 15px; } }

@media (width: 414px) {
  .articles {
    margin-left: 35px; } }

@media (width: 768px) {
  .articles {
    margin-left: 65px; } }

.card-img-top {
  width: 100%;
  padding: 10px;
  opacity: 0.8; }

.card-body {
  margin-left: 10px;
  font-family: 'PT Sans', sans-serif; }

.card-title {
  font-size: 40px;
  font-weight: bold;
  color: #2F4F4F; }

.card-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 23px; }

.mb-2 {
  width: 100%; }

.btn-info {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 10px; }

.think-img {
  height: 400px; }

#how-to-contact {
  font-size: 45px;
  font-weight: bold;
  margin-top: 150px;
  font-family: 'PT Sans', sans-serif;
  color: #D2691E; }

#address #bottom-address {
  margin-left: 37px; }

#address, #tel {
  font-size: 30px;
  font-family: 'Barlow Condensed', sans-serif; }

#address, #tel {
  margin-top: 35px; }

#map {
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px; }

#contacts-header {
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
  color: #D2691E; }

#follow {
  font-size: 25px;
  font-family: 'Barlow Condensed', sans-serif; }

.follow-items {
  padding: 0;
  margin: 0; }

.networks {
  width: 32px;
  height: 32px;
  margin-left: -10px; }

.follow-items .btn-link:hover {
  opacity: 0.7; }

.sign-in-tabs {
  width: 360px;
  padding: 16px;
  background-color: white; }

.login img {
  width: 30px;
  height: 30px;
  margin-top: -5px; }

.login .inputs {
  width: 250px;
  height: 40px;
  border: 2px solid #BC8F8F;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  padding: 15px; }

.login .inputs:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#signin-btn {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  background-color: #BC8F8F;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  color: white;
  width: 100px;
  height: 40px; }

#signin-btn:hover {
  opacity: 0.6; }

.register span {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  position: relative;
  top: 15px; }

.registration-inp {
  width: 200px;
  height: 40px;
  border: 2px solid #BC8F8F;
  border-radius: 5px;
  padding: 15px;
  font-size: px;
  font-family: 'PT Sans', sans-serif;
  margin-top: 20px; }

.registration-inp:active {
  border-color: black; }

#register-btn {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  background-color: #BC8F8F;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  width: 125px;
  height: 40px;
  margin-top: 15px; }

#register-btn:hover {
  opacity: 0.6; }

#check-mark, #wrong-mark, #check-mark1, #wrong-mark1,
#check-mark2, #wrong-mark2, #check-mark3, #wrong-mark3 {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 30px;
  margin-left: 10px;
  display: none; }

.blog-content {
  width: 800px;
  margin-left: -10px; }

.ph-images {
  width: 133px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px; }

.ph-description p {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif; }

@media (max-width: 992px) {
  .blog-content {
    width: 800px; } }

@media (max-width: 870px) {
  .blog-content {
    width: 750px; } }

@media (max-width: 775px) {
  .blog-content {
    width: 600px; } }

@media (max-width: 620px) {
  .blog-content {
    width: 500px; } }

@media (max-width: 520px) {
  .blog-content {
    width: 450px; } }

@media (max-width: 470px) {
  .blog-content {
    width: 350px; } }

#toTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  font-size: 40px; }

#toTop:hover {
  color: black; }

#toTop.show {
  opacity: 1; }

#content {
  height: 2000px; }

.bio-header {
  margin-top: 100px; }

.bio-content {
  text-align: center; }

.bio-content #p-bio {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
  color: #A0522D;
  font-size: 30px;
  padding: .4em 1em .55em;
  margin-top: 30px; }

.bio-content #p-bio:before,
.bio-content #p-bio:after {
  content: "";
  position: absolute;
  width: 60%;
  height: .1em;
  background: #294200; }

.bio-content #p-bio:before {
  left: 0;
  top: 0; }

.bio-content #p-bio:after {
  right: 0;
  bottom: 0; }

.bio-content #p-bio span:before,
.bio-content #p-bio span:after {
  content: "";
  position: absolute;
  width: .65em;
  height: .65em;
  border: .1em solid #294200;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.bio-content #p-bio span:before {
  top: -.55em;
  left: -.325em; }

.bio-content #p-bio span:after {
  bottom: -.55em;
  right: -.325em; }

@media (max-width: 600px) {
  .bio-content #p-bio {
    font-size: 2em; } }

@media (max-width: 450px) {
  .bio-content #p-bio {
    font-size: 1.5em; } }

#p-description {
  margin-top: 30px;
  font-size: 21px;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 40px; }

@media (max-width: 600px) {
  .bio-content #p-bio {
    font-size: 17px; } }

@media (max-width: 450px) {
  .bio-content #p-bio {
    font-size: 19px; } }

.bio-images {
  width: 153px;
  height: 220px;
  margin-bottom: 20px;
  margin-left: 15px; }

@media (max-width: 400px) {
  .bio-images {
    width: 123px;
    height: 190px; } }

.bio-images {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.bio-images:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #ffffff;
  border: 1px solid #cccccc;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: 1em 1em 1em -0.5em rgba(0, 0, 6, 0.5);
  box-shadow: 1em 1em 1em -0.5em rgba(0, 0, 6, 0.5);
  cursor: pointer; }

  .mail-text {
    font-size: 23px;
    font-family: 'PT Sans', sans-serif;
  }
  #admin-mail {
    height: 28px;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    top: 5px;
    margin-left: 10px;
    background: #FDF5E6;
  }
  #title {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    top: 7px;
    margin-left: 10px;
    padding: 2px;
  }
  #message {
    height: 200px;
    width: 500px;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    top: 7px;
    padding: 2px;
  }
  #mail-btn {
    width: 80px;
    height: 30px;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    border-radius: 2px;
    background: #98FB98;
    margin-top: 20px;
  }
  #mail-btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  .user-info {
    position: relative;
    color: red;
    top: 200px;
  }
  .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}